/* Estilos generales */
/**/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}



/* Espaciador */

hr.small {
    max-width: 100px;
}


/* Menú deslizante */

#sidebar-wrapper {
    position: fixed;
    z-index: 1000;
    right: 0;
    overflow-y: auto;
    width: 250px;
    height: 100%;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    transform: translateX(250px);
    background: #222;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, .2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    line-height: 55px;
    height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav .sidebar-brand{
		font-weight: 700;
    letter-spacing: 2px;
}

#menu-toggle {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    border-radius: 0px;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
    padding: 9px 12px;
}

.toggle2{
    margin: 5px 5px 0 0;
    padding: 8px 12px;
    border-radius: 0px;
}


/* Cabecera */

.header {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header h1{
		font-weight: 700;
		letter-spacing: 3px;
		font-size: 45px;
}

.header h3{
		letter-spacing: 2px;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 300;
}

.header button{
		letter-spacing: 2px;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 300;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 0px;
}


/* Acerda de... */

.about {
    padding: 50px 0;
}


/* ninfo */

.ninfo {
    padding: 50px 0;
}

.ninfo-item {
    margin-bottom: 30px;
}


/* Ponentes */

.ponente {
		padding: 50px 0;
    width: 100%;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ponente-item {
    margin-bottom: 30px;
}

.ponente .masinfo{
		letter-spacing: 1px;
		text-transform: uppercase;
}

.ponente .btn{
    border-radius: 0px;
}


/* Programación */

.programacion {
    padding: 50px 0;
}

.programacion-item {
    margin-bottom: 30px;
}

/* map */

.map {
    height: 500px;
		padding: 50px 0 0 0;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map div {
		
}

.map iframe {
    pointer-events: none;
}


/* Footer */

footer {
    padding: 130px 0;
}

footer .org {
		padding: 20px 0;
}

#al-inicio {
    font-size: 1em;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    padding: 9px 12px;
    border-radius: 0px;
}
